//colors
$navbar-bg-color: #ffffff;
$title-color: #0a2239;
$sub-title-color: #8492a6;
$border-color: #3054d6;
$subtitle-color: #194dff;
$default-icon-color: #63798e;
//shadow colors
$nav-shadow-color: #00000029;
$card-shadow-color: #90909066;
//card
$card-border: #0a22391f;
$card-header: #202942;
$description-color: #0a2239;
$card-header-title-color: #ffffff;
$card-header-subtitle-color: #8492a6;
$card-hide-background: #2355fc0f;
