//colors
$navbar-bg-color: #ffffff;
$title-color: #0a2239;
$sub-title-color: #8492a6;
$border-color: #3054d6;
$subtitle-color: #194dff;
$default-icon-color: #63798e;
//shadow colors
$nav-shadow-color: #00000029;
$card-shadow-color: #90909066;
//card
$card-border: #0a22391f;
$card-header: #202942;
$description-color: #0a2239;
$card-header-title-color: #ffffff;
$card-header-subtitle-color: #8492a6;
$card-hide-background: #2355fc0f;

//toggle button
$default-border-color: #e7ebee;
$active-border-color: #3054d6;
$button-default-color: #0a2239;
$button-active-color: #3054d6;

//button
$button-background: #edf0f7;
$button-title-color-1: #2355fc;
$button-title-color-2: #ffffff;
$button-active-color: #3054D6;


//text-box borders and label colors
$border-1: #e7ebeeb3;
$border-2: #3054d6;
$text-input-1: #868687;
$text-input-2: #0a2239;
$text-input-3: #3054d6;
$bg-white: #ffffff;

